@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400,700italic,300,300italic);

body {
	color: #281;
	font-family: 'Open Sans', sans-serif;
	font-size: 4mm;
	background: #713;
}

div.article, div.title {
	border-radius: 5mm;
	width: 80%;
	margin: auto;
	margin-top: 5mm;
	margin-bottom: 5mm;
	background: #fff;
}

div.article {
	padding: 2.5mm;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #346;
	font-weight: 300;
}

h1.article-title {
	font-size: 15mm;
}

h1.title {
	font-size: 20mm;
}
h2.date {
	font-size: 5mm;
}
div.article h1 {
	font-size: 7mm;
}

div.text h2 {
	font-size: 6mm;
}

a {
	color: #713;
}

img {
	width: 75%;
	height: auto;
}

table {
	text-align: center;
	width: 80%;
	margin: auto;
}

.title h1 {
  font-size: 72pt;
}
